* @danipopes @mattsse

crates/anvil/        @danipopes @mattsse
crates/cheatcodes/   @danipopes @mattsse @klkvr
crates/evm/coverage/ @onbjerg
crates/fmt/          @rkrasiuk
crates/linking/      @klkvr
crates/macros/       @danipopes
crates/script/       @danipopes @mattsse @klkvr
crates/wallets/      @klkvr
