.DS_STORE
/target*
out/
snapshots/
out.json
.idea
.vscode
.claude
CLAUDE.md
.env
node_modules
dist
bin
_
*.tgz
.zed
.vercel
.vite
.wrangler
./build/ # IMPORTANT: do not use `build` as it breaks IDE functionality for `crates/src/opts/build/`
*.zip
