[submodule "integration-tests/testdata/drai"]
	path = integration-tests/testdata/drai
	url = git@github.com:mds1/drai.git
[submodule "integration-tests/testdata/geb"]
	path = integration-tests/testdata/geb
	url = https://github.com/reflexer-labs/geb
[submodule "integration-tests/testdata/guni-lev"]
	path = integration-tests/testdata/guni-lev
	url = https://github.com/hexonaut/guni-lev/
[submodule "integration-tests/testdata/solmate"]
	path = integration-tests/testdata/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "integration-tests/testdata/solidity-stringutils"]
	path = integration-tests/testdata/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
[submodule "integration-tests/testdata/vaults"]
	path = integration-tests/testdata/vaults
	url = https://github.com/rari-capital/vaults
[submodule "integration-tests/testdata/multicall"]
	path = integration-tests/testdata/multicall
	url = https://github.com/makerdao/multicall
