[workspace]
members = [
    "anvil",
    "anvil/core",
    "anvil/rpc",
    "anvil/server",
    "binder",
    "cast",
    "chisel",
    "cli",
    "cli/test-utils",
    "common",
    "config",
    "doc",
    "evm",
    "fmt",
    "forge",
    "macros",
    "macros/impl",
    "ui",
    "utils",
]

[profile.dev]
# Disabling debug info speeds up builds a bunch,
# and we don't rely on it for debugging that much
debug = 0

# These speed up local tests
[profile.dev.package.ethers-solc]
opt-level = 3

[profile.dev.package.revm]
opt-level = 3

# These speed up all forge script related integration tests
[profile.test.package.axum]
opt-level = 3

# Local "release" mode, more optimized than dev but much faster to compile than release
[profile.local]
inherits = "dev"
opt-level = 3
# Set this to 1 or 2 to get more useful backtraces
debug = 0
panic = 'unwind'
# better recompile times
incremental = true
codegen-units = 16

[profile.release]
# Optimize for binary size, but keep loop vectorization
opt-level = "s"
# Performance optimizations
lto = "fat"
debug = 0
strip = true
panic = "abort"
codegen-units = 1

# Lock ethers-rs to a rev to allow this crate be safely used as a dependency
[workspace.dependencies]
ethers = { git = "https://github.com/gakonst/ethers-rs", rev = "279280c6fdae215a9411cdcf5270f34b7cf3fb70" }
ethers-addressbook = { git = "https://github.com/gakonst/ethers-rs", rev = "279280c6fdae215a9411cdcf5270f34b7cf3fb70" }
ethers-core = { git = "https://github.com/gakonst/ethers-rs", rev = "279280c6fdae215a9411cdcf5270f34b7cf3fb70" }
ethers-contract = { git = "https://github.com/gakonst/ethers-rs", rev = "279280c6fdae215a9411cdcf5270f34b7cf3fb70" }
ethers-providers = { git = "https://github.com/gakonst/ethers-rs", rev = "279280c6fdae215a9411cdcf5270f34b7cf3fb70" }
ethers-signers = { git = "https://github.com/gakonst/ethers-rs", rev = "279280c6fdae215a9411cdcf5270f34b7cf3fb70" }
ethers-middleware = { git = "https://github.com/gakonst/ethers-rs", rev = "279280c6fdae215a9411cdcf5270f34b7cf3fb70" }
ethers-etherscan = { git = "https://github.com/gakonst/ethers-rs", rev = "279280c6fdae215a9411cdcf5270f34b7cf3fb70" }
ethers-solc = { git = "https://github.com/gakonst/ethers-rs", rev = "279280c6fdae215a9411cdcf5270f34b7cf3fb70" }

# # Patch ethers-rs with a local checkout then run `cargo update -p ethers`
# [patch."https://github.com/gakonst/ethers-rs"]
# ethers = { path = "../ethers-rs" }
# ethers-addressbook = { path = "../ethers-rs/ethers-addressbook" }
# ethers-core = { path = "../ethers-rs/ethers-core" }
# ethers-contract = { path = "../ethers-rs/ethers-contract" }
# ethers-providers = { path = "../ethers-rs/ethers-providers" }
# ethers-signers = { path = "../ethers-rs/ethers-signers" }
# ethers-etherscan = { path = "../ethers-rs/ethers-etherscan" }
# ethers-solc = { path = "../ethers-rs/ethers-solc" }

# [patch.crates-io]
# revm = { path = "../revm/crates/revm" }
