[package]
name = "dapptools"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
structopt = "0.3.22"
# ethers = "0.5.2"
ethers = { git = "https://github.com/gakonst/ethers-rs", branch = "chore/update-ethabi" }

eyre = "0.6.5"
tokio = { version = "1.10.1", features = ["macros"] }
rustc-hex = "2.1.0"
serde_json = "1.0.67"
rpassword = "5.0.1"
evm = "0.30.1"
ansi_term = "0.12.1"
serde = "1.0.130"
hex = "0.4.3"

[patch.'crates-io']
ethabi = { git = "https://github.com/gakonst/ethabi/", branch = "patch-1" }
