[workspace]
members = ["crates/*", "tests"]
resolver = "2"

[workspace.package]
version = "0.2.0"
edition = "2021"
rust-version = "1.71"
authors = ["Foundry Contributors"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/foundry-rs/foundry"
repository = "https://github.com/foundry-rs/foundry"
exclude = ["benches/", "tests/", "test-data/", "testdata/"]

[profile.dev]
# Disabling debug info speeds up builds a bunch,
# and we don't rely on it for debugging that much
debug = 0

# Speed up tests and dev build
[profile.dev.package]
revm.opt-level = 3
revm-primitives.opt-level = 3
revm-interpreter.opt-level = 3
revm-precompile.opt-level = 3

ruint.opt-level = 3
primitive-types.opt-level = 3

axum.opt-level = 3

[profile.release]
opt-level = "s"
lto = "fat"
strip = true
panic = "abort"
codegen-units = 1

[profile.release.package]
# Optimize all non-workspace packages for speed
"*".opt-level = 3

# Package overrides
foundry-evm.opt-level = 3

ethers-solc.opt-level = 1
foundry-abi.opt-level = 1
mdbook.opt-level = 1
protobuf.opt-level = 1
rusoto_core.opt-level = 1
rusoto_credential.opt-level = 1
rusoto_kms.opt-level = 1
toml_edit.opt-level = 1
trezor-client.opt-level = 1

# Given that the `"*"` above takes precedence over the defaults for build scripts and macros, we
# have to override all of them to reduce compile times
syn.opt-level = 0
prettyplease.opt-level = 0
lalrpop.opt-level = 0

ethers-contract-abigen.opt-level = 0
ethers-contract-derive.opt-level = 0
async-recursion.opt-level = 0
miette-derive.opt-level = 0
strum_macros.opt-level = 0
enumn.opt-level = 0
clap_derive.opt-level = 0
serde_derive.opt-level = 0
pear_codegen.opt-level = 0
num_enum_derive.opt-level = 0
scale-info-derive.opt-level = 0
parity-scale-codec-derive.opt-level = 0
time-macros.opt-level = 0
phf_macros.opt-level = 0
pin-project-internal.opt-level = 0
auto_impl.opt-level = 0
derive_more.opt-level = 0
rlp-derive.opt-level = 0
impl-trait-for-tuples.opt-level = 0
async-trait.opt-level = 0
tokio-macros.opt-level = 0
tracing-attributes.opt-level = 0
futures-macro.opt-level = 0
thiserror-impl.opt-level = 0
wasm-bindgen-macro-support.opt-level = 0
wasm-bindgen-backend.opt-level = 0

# Local "release" mode, more optimized than dev but much faster to compile than release
[profile.local]
inherits = "release"
opt-level = 1
lto = "none"
codegen-units = 16
# Empty, clears `profile.release.package`
package = {}

[workspace.dependencies]
anvil = { path = "crates/anvil" }
cast = { path = "crates/cast" }
chisel = { path = "crates/chisel" }
forge = { path = "crates/forge" }

forge-doc = { path = "crates/doc" }
forge-fmt = { path = "crates/fmt" }
foundry-abi = { path = "crates/abi" }
foundry-binder = { path = "crates/binder" }
foundry-cli = { path = "crates/cli" }
foundry-common = { path = "crates/common" }
foundry-config = { path = "crates/config" }
foundry-evm = { path = "crates/evm" }
foundry-macros = { path = "crates/macros" }
foundry-utils = { path = "crates/utils" }
ui = { path = "crates/ui" }

foundry-tests = { path = "tests" }

ethers = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
ethers-addressbook = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
ethers-core = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
ethers-contract = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
ethers-contract-abigen = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
ethers-providers = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
ethers-signers = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
ethers-middleware = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
ethers-etherscan = { git = "https://github.com/gakonst/ethers-rs", default-features = false }
ethers-solc = { git = "https://github.com/gakonst/ethers-rs", default-features = false }

chrono = { version = "0.4", default-features = false, features = ["clock", "std"] }
hex = { package = "const-hex", version = "1.6", features = ["hex"] }
itertools = "0.11"
solang-parser = "=0.3.1"

#[patch."https://github.com/gakonst/ethers-rs"]
#ethers = { path = "../ethers-rs/ethers" }
#ethers-addressbook = { path = "../ethers-rs/ethers-addressbook" }
#ethers-contract = { path = "../ethers-rs/ethers-contract" }
#ethers-contract-abigen = { path = "../ethers-rs/ethers-contract/ethers-contract-abigen" }
#ethers-core = { path = "../ethers-rs/ethers-core" }
#ethers-etherscan = { path = "../ethers-rs/ethers-etherscan" }
#ethers-middleware = { path = "../ethers-rs/ethers-middleware" }
#ethers-providers = { path = "../ethers-rs/ethers-providers" }
#ethers-signers = { path = "../ethers-rs/ethers-signers" }
#ethers-solc = { path = "../ethers-rs/ethers-solc" }

[patch.crates-io]
revm = { git = "https://github.com/bluealloy/revm/", branch = "release/v25" }
