[workspace]
members = [
    "utils",
    "cast",
    "forge",
    "cli",
    "cli/test-utils",
    "config",
    "fmt",
    "ui",
    "evm"
]

# Binary size optimizations
[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
debug = true

[patch."https://github.com/bluealloy/revm"]
revm = { git = "https://github.com/onbjerg/revm", branch = "onbjerg/override-block-env" }

## Patch ethers-rs with a local checkout then run `cargo update -p ethers`
#[patch."https://github.com/gakonst/ethers-rs"]
#ethers = { path = "../ethers-rs" }
#ethers-core = { path = "../ethers-rs/ethers-core" }
#ethers-providers = { path = "../ethers-rs/ethers-providers" }
#ethers-signers = { path = "../ethers-rs/ethers-signers" }
#ethers-etherscan = { path = "../ethers-rs/ethers-etherscan" }
#ethers-solc = { path = "../ethers-rs/ethers-solc" }
