[package]
name = "foundry-test-utils"
description = "Foundry testing utilities"
publish = false

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
foundry-config.workspace = true
foundry-common.workspace = true
foundry-utils.workspace = true

ethers.workspace = true
alloy-primitives.workspace = true
alloy-providers.workspace = true

foundry-compilers = { workspace = true, features = ["project-util"] }

eyre.workspace = true
once_cell = "1"
parking_lot = "0.12"
pretty_assertions = "1"
regex = "1"
serde_json.workspace = true
tempfile = "3"
walkdir = "2"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt"] }
fd-lock = "4.0.0"

[features]
# feature for integration tests that test external projects
external-integration-tests = []
