[package]
name = "foundry-cli"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
# foundry internal
foundry-config.workspace = true
foundry-common.workspace = true
foundry-evm.workspace = true
foundry-debugger.workspace = true
foundry-utils.workspace = true

foundry-compilers = { workspace = true, features = ["full"] }

# aws
rusoto_core = { version = "0.48", default-features = false }
rusoto_kms = { version = "0.48", default-features = false }

# eth
ethers = { workspace = true, features = ["aws", "ledger", "trezor"] }

# alloy
alloy-primitives.workspace = true
alloy-json-abi.workspace = true
alloy-dyn-abi.workspace = true

async-trait = "0.1"
clap = { version = "4", features = ["derive", "env", "unicode", "wrap_help"] }
color-eyre.workspace = true
dotenvy = "0.15"
eyre.workspace = true
hex = { workspace = true, features = ["serde"] }
indicatif = "0.17"
itertools.workspace = true
once_cell = "1"
regex = { version = "1", default-features = false }
rpassword = "7"
serde.workspace = true
strsim = "0.10"
strum = { version = "0.25", features = ["derive"] }
thiserror = "1"
tokio = { version = "1", features = ["macros"] }
tracing.workspace = true
tracing-error = "0.2"
tracing-subscriber = { version = "0.3", features = ["registry", "env-filter", "fmt"] }
yansi = "0.5"

[dev-dependencies]
tempfile = "3.7"

[features]
default = ["rustls"]
rustls = ["ethers/rustls", "rusoto_core/rustls"]
openssl = ["ethers/openssl"]
