[package]
name = "foundry-evm-core"
description = "Core EVM abstractions"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
foundry-cheatcodes-spec.workspace = true
foundry-common.workspace = true
foundry-config.workspace = true
foundry-evm-abi.workspace = true

alloy-dyn-abi = { workspace = true, features = ["arbitrary", "eip712"] }
alloy-genesis.workspace = true
alloy-json-abi.workspace = true
alloy-primitives = { workspace = true, features = [
    "serde",
    "getrandom",
    "arbitrary",
    "rlp",
] }
alloy-provider.workspace = true
alloy-rpc-types.workspace = true
alloy-serde.workspace = true
alloy-sol-types.workspace = true
alloy-transport.workspace = true
foundry-fork-db.workspace = true

revm = { workspace = true, features = [
    "std",
    "serde",
    "memory_limit",
    "optional_eip3607",
    "optional_block_gas_limit",
    "optional_no_base_fee",
    "arbitrary",
    "optimism",
    "c-kzg",
    "blst",
] }
revm-inspectors.workspace = true

auto_impl.workspace = true
eyre.workspace = true
futures.workspace = true
itertools.workspace = true
parking_lot.workspace = true
rustc-hash.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["time", "macros"] }
tracing.workspace = true

[dev-dependencies]
foundry-test-utils.workspace = true
