[package]
name = "foundry-evm-core"
description = "Core EVM abstractions"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
foundry-cheatcodes-spec.workspace = true
foundry-common.workspace = true
foundry-compilers.workspace = true
foundry-config.workspace = true
foundry-macros.workspace = true

alloy-dyn-abi = { workspace = true, features = ["arbitrary", "eip712"] }
alloy-json-abi.workspace = true
alloy-primitives = { workspace = true, features = ["serde", "getrandom", "arbitrary", "rlp"] }
alloy-genesis.workspace = true
alloy-provider.workspace = true
alloy-transport.workspace = true
alloy-rpc-types.workspace = true
alloy-sol-types.workspace = true

revm = { workspace = true, features = [
    "std",
    "serde",
    "memory_limit",
    "optional_eip3607",
    "optional_block_gas_limit",
    "optional_no_base_fee",
    "arbitrary",
    "optimism",
    "c-kzg"
] }
revm-inspectors.workspace = true

arrayvec.workspace = true
auto_impl = "1"
derive_more.workspace = true
eyre = "0.6"
futures = "0.3"
hex.workspace = true
itertools.workspace = true
once_cell = "1"
parking_lot = "0.12"
rustc-hash.workspace = true
serde = "1"
serde_json = "1"
thiserror = "1"
tokio = { version = "1", features = ["time", "macros"] }
tracing = "0.1"
url = "2"

[dev-dependencies]
foundry-test-utils.workspace = true
