[package]
name = "foundry-wallets"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
foundry-config.workspace = true

alloy-primitives.workspace = true
alloy-signer = { workspace = true, features = ["eip712"] }
alloy-signer-local = { workspace = true, features = ["mnemonic", "keystore"] }
alloy-signer-ledger = { workspace = true, features = ["eip712"] }
alloy-signer-trezor.workspace = true
alloy-network.workspace = true
alloy-consensus.workspace = true
alloy-sol-types.workspace = true
alloy-dyn-abi.workspace = true

# aws-kms
alloy-signer-aws = { workspace = true, features = ["eip712"], optional = true }
aws-config = { version = "1", optional = true } # default-features are necessary
aws-sdk-kms = { version = "1", default-features = false, optional = true }

# gcp-kms
alloy-signer-gcp = { workspace = true, features = ["eip712"], optional = true }
gcloud-sdk = { version = "0.25", features = [
  "google-cloud-kms-v1",
  "google-longrunning",
], optional = true }

async-trait.workspace = true
clap = { version = "4", features = ["derive", "env", "unicode", "wrap_help"] }
derive_builder = "0.20.0"
eyre.workspace = true
rpassword = "7"
serde.workspace = true
thiserror.workspace = true
tracing.workspace = true
eth-keystore = "0.5.0"

[dev-dependencies]
tokio = { workspace = true, features = ["macros"] }

[features]
default = ["rustls"]
rustls = ["aws-sdk-kms?/rustls"]
aws-kms = ["dep:alloy-signer-aws", "dep:aws-config", "dep:aws-sdk-kms"]
gcp-kms = ["dep:alloy-signer-gcp", "dep:gcloud-sdk"]
