[package]
name = "foundry-common"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
foundry-block-explorers = { workspace = true, features = ["foundry-compilers"] }
foundry-compilers.workspace = true
foundry-config.workspace = true
foundry-macros.workspace = true

ethers-core.workspace = true
ethers-middleware.workspace = true
ethers-providers = { workspace = true, features = ["ws", "ipc"] }

alloy-dyn-abi = { workspace = true, features = ["arbitrary", "eip712"] }
alloy-json-abi.workspace = true
alloy-primitives = { workspace = true, features = ["serde", "getrandom", "arbitrary", "rlp"] }
alloy-rpc-types.workspace = true
alloy-providers.workspace = true
alloy-transport.workspace = true
alloy-transport-http.workspace = true
alloy-sol-types.workspace = true

async-trait = "0.1"
auto_impl = "1.1.0"
clap = { version = "4", features = ["derive", "env", "unicode", "wrap_help"] }
comfy-table = "7"
dunce = "1"
eyre.workspace = true
glob = "0.3"
globset = "0.4"
hex.workspace = true
once_cell = "1"
rand.workspace = true
regex = "1"
reqwest = { version = "0.11", default-features = false }
semver = "1"
serde_json.workspace = true
serde.workspace = true
tempfile = "3"
thiserror = "1"
tokio = "1"
tracing.workspace = true
url = "2"
walkdir = "2"
yansi = "0.5"

[dev-dependencies]
foundry-macros.workspace = true
pretty_assertions.workspace = true
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
