[package]
name = "foundry-common"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
# foundry internal
foundry-config.workspace = true
foundry-macros.workspace = true

# eth
ethers-core.workspace = true
ethers-providers = { workspace = true, features = ["ws", "ipc"] }
ethers-middleware.workspace = true
ethers-etherscan = { workspace = true, features = ["ethers-solc"] }
foundry-block-explorers = { workspace = true, features = ["foundry-compilers"] }

# alloy
alloy-primitives = { workspace = true, features = ["serde", "getrandom", "arbitrary", "rlp"] }
alloy-dyn-abi = { workspace = true, features = ["arbitrary"] }
alloy-json-abi.workspace = true
foundry-compilers.workspace = true
# io
reqwest = { version = "0.11", default-features = false }

# cli
clap = { version = "4", features = ["derive", "env", "unicode", "wrap_help"] }
comfy-table = "7"
tracing = "0.1"
yansi = "0.5"
tempfile = "3"

#  misc
auto_impl = "1.1.0"
async-trait = "0.1"
serde = "1"
serde_json = "1"
thiserror = "1"
eyre = "0.6"
walkdir = "2"
semver = "1"
once_cell = "1"
dunce = "1"
regex = "1"
globset = "0.4"
tokio = "1"
url = "2"
# Using const-hex instead of hex for speed
hex.workspace = true

[dev-dependencies]
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
