[package]
name = "cast"
description = "Command-line tool for performing Ethereum RPC calls"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[[bin]]
name = "cast"
path = "bin/main.rs"

[build-dependencies]
vergen = { version = "8", default-features = false, features = ["build", "git", "git2"] }

[dependencies]
# lib
foundry-block-explorers.workspace = true
foundry-common.workspace = true
foundry-compilers.workspace = true
foundry-config.workspace = true
foundry-evm.workspace = true
foundry-utils.workspace = true

alloy-dyn-abi.workspace = true
alloy-json-abi.workspace = true
alloy-primitives.workspace = true
alloy-rlp.workspace = true

ethers-core.workspace = true
ethers-providers.workspace = true

chrono.workspace = true
evm-disassembler = "0.3"
eyre.workspace = true
futures = "0.3"
hex.workspace = true
rayon = "1"
serde_json.workspace = true
serde.workspace = true

# aws
rusoto_core = { version = "0.48", default-features = false }
rusoto_kms = { version = "0.48", default-features = false }

# bin
foundry-cli.workspace = true

ethers-contract.workspace = true
ethers-middleware.workspace = true
ethers-signers.workspace = true
eth-keystore = "0.5"

clap = { version = "4", features = ["derive", "env", "unicode", "wrap_help"] }
clap_complete = "4"
clap_complete_fig = "4"
comfy-table = "7"
dunce = "1"
indicatif = "0.17"
itertools.workspace = true
regex = { version = "1", default-features = false }
rpassword = "7"
semver = "1"
tempfile = "3"
tokio = { version = "1", features = ["macros", "signal"] }
tracing.workspace = true
yansi = "0.5"

[dev-dependencies]
foundry-test-utils.workspace = true
async-trait = "0.1"
criterion = "0.5"

[features]
default = ["rustls"]
rustls = ["foundry-cli/rustls"]
openssl = ["foundry-cli/openssl"]

[[bench]]
name = "vanity"
harness = false
