[package]
name = "foundry-evm"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
foundry-abi.workspace = true
foundry-utils.workspace = true
foundry-common.workspace = true
foundry-config.workspace = true
foundry-macros.workspace = true

ethers = { workspace = true, features = ["ethers-solc"] }

# Encoding/decoding
serde_json = "1"
serde = "1"
hex.workspace = true
jsonpath_lib = "0.3"

# Error handling
eyre = "0.6"
thiserror = "1"

# Logging
tracing = "0.1"

# Threading/futures
tokio = { version = "1", features = ["time", "macros"] }
parking_lot = "0.12"
futures = "0.3"
once_cell = "1"

# EVM
bytes = "1"
hashbrown = { version = "0.13", features = ["serde"] }
revm = { workspace = true, default-features = false, features = [
  "std",
  "serde",
  "memory_limit",
  "optional_eip3607",
  "optional_block_gas_limit",
  "optional_no_base_fee",
  "arbitrary"
] }

alloy-primitives = { workspace = true, default-features = false, features = ["std", "serde", "getrandom", "arbitrary", "rlp"] }
alloy-dyn-abi = { workspace = true, default-features = false, features = ["std", "arbitrary", "eip712"] }
alloy-json-abi = { workspace = true, default-features = false, features = ["std"]}
alloy-sol-types = { workspace = true, default-features = false, features = ["std", "arbitrary"]}

# Fuzzer
proptest = "1"

# Display
yansi = "0.5"

# Misc
url = "2"
auto_impl = "1"
itertools.workspace = true
ordered-float = "3"
walkdir = "2"

# Coverage
semver = "1"

[dev-dependencies]
ethers = { workspace = true, features = ["ethers-solc", "rustls"] }
foundry-utils.workspace = true
tempfile = "3"
