[package]
name = "foundry-evm"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
foundry-abi.workspace = true
# foundry-cheatcodes.workspace = true
foundry-common.workspace = true
foundry-compilers.workspace = true
foundry-config.workspace = true
foundry-evm-coverage.workspace = true
foundry-evm-executors.workspace = true
foundry-evm-fuzz.workspace = true
foundry-evm-traces.workspace = true
foundry-macros.workspace = true
foundry-utils.workspace = true

alloy-primitives = { workspace = true, features = ["serde", "getrandom", "arbitrary", "rlp"] }
alloy-dyn-abi = { workspace = true, features = ["arbitrary", "eip712"] }
alloy-json-abi.workspace = true
ethers = { workspace = true, features = ["ethers-solc"] }
hashbrown = { version = "0.14", features = ["serde"] }
revm = { workspace = true, default-features = false, features = [
    "std",
    "serde",
    "memory_limit",
    "optional_eip3607",
    "optional_block_gas_limit",
    "optional_no_base_fee",
    "arbitrary",
] }

bytes = "1.5"
eyre = "0.6"
hex.workspace = true
itertools.workspace = true
jsonpath_lib = "0.3"
once_cell = "1"
parking_lot = "0.12"
proptest = "1"
serde = "1"
serde_json = "1"
thiserror = "1"
tracing = "0.1"
walkdir = "2"
