[package]
name = "forge-fmt"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
foundry-config.workspace = true
foundry-common.workspace = true

solar.workspace = true

itertools.workspace = true
similar = { version = "2", features = ["inline"] }

[dev-dependencies]
foundry-test-utils.workspace = true

itertools.workspace = true
toml.workspace = true
snapbox.workspace = true
