[package]
name = "forge-fmt"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
foundry-config.workspace = true

alloy-primitives.workspace = true

ariadne = "0.4"
itertools.workspace = true
solang-parser.workspace = true
thiserror.workspace = true
tracing.workspace = true

[dev-dependencies]
itertools.workspace = true
similar-asserts.workspace = true
toml.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter"] }
