[package]
name = "forge"
description = "Fast and flexible Ethereum testing framework"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[[bin]]
name = "forge"
path = "bin/main.rs"

[[test]]
name = "ui"
path = "tests/ui.rs"
harness = false

[dependencies]
# lib
foundry-block-explorers = { workspace = true, features = ["foundry-compilers"] }
foundry-common.workspace = true
foundry-compilers = { workspace = true, features = ["full"] }
foundry-config.workspace = true
foundry-evm.workspace = true
foundry-evm-core.workspace = true
foundry-linking.workspace = true

comfy-table.workspace = true
eyre.workspace = true
proptest.workspace = true
rayon.workspace = true
serde.workspace = true
tracing.workspace = true
yansi.workspace = true
chrono.workspace = true

# bin
forge-doc.workspace = true
forge-fmt.workspace = true
forge-lint.workspace = true
forge-verify.workspace = true
forge-script.workspace = true
forge-sol-macro-gen.workspace = true
foundry-cli.workspace = true
foundry-debugger.workspace = true

alloy-chains.workspace = true
alloy-dyn-abi.workspace = true
alloy-json-abi.workspace = true
alloy-network.workspace = true
alloy-primitives = { workspace = true, features = ["serde"] }
alloy-provider = { workspace = true, features = ["reqwest", "ws", "ipc"] }
alloy-rpc-types.workspace = true
alloy-serde.workspace = true
alloy-signer.workspace = true
alloy-transport.workspace = true

revm.workspace = true

clap = { version = "4", features = ["derive", "env", "unicode", "wrap_help"] }
clap_complete = "4"
clap_complete_fig = "4"
dunce.workspace = true
indicatif.workspace = true
inferno = { version = "0.12", default-features = false }
itertools.workspace = true
parking_lot.workspace = true
regex = { workspace = true, default-features = false }
semver.workspace = true
serde_json.workspace = true
similar = { version = "2", features = ["inline"] }
solang-parser.workspace = true
solar-parse.workspace = true
solar-sema.workspace = true
strum = { workspace = true, features = ["derive"] }
thiserror.workspace = true
tokio = { workspace = true, features = ["time"] }
toml_edit = "0.23"
watchexec = "8.0"
watchexec-events = "6.0"
watchexec-signals = "5.0"
clearscreen = "4.0"
evm-disassembler.workspace = true
path-slash.workspace = true

# doc server
axum = { workspace = true, features = ["ws"] }
tower-http = { workspace = true, features = ["fs"] }
opener = "0.8"

# soldeer
soldeer-commands.workspace = true
quick-junit = "0.5.1"

[dev-dependencies]
alloy-hardforks.workspace = true
anvil.workspace = true
forge-script-sequence.workspace = true
foundry-test-utils.workspace = true
foundry-wallets.workspace = true
futures.workspace = true
reqwest = { workspace = true, features = ["json"] }

mockall = "0.13"
globset = "0.4"
paste = "1.0"
similar-asserts.workspace = true
svm = { package = "svm-rs", version = "0.5", default-features = false, features = [
    "rustls",
] }
tempfile.workspace = true

alloy-signer-local.workspace = true

[features]
default = ["jemalloc"]
asm-keccak = ["alloy-primitives/asm-keccak"]
jemalloc = ["foundry-cli/jemalloc"]
mimalloc = ["foundry-cli/mimalloc"]
tracy-allocator = ["foundry-cli/tracy-allocator"]
aws-kms = ["foundry-wallets/aws-kms"]
gcp-kms = ["foundry-wallets/gcp-kms"]
isolate-by-default = ["foundry-config/isolate-by-default"]
