[package]
name = "anvil-core"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
# foundry internal
foundry-evm = { path = "../../evm" }
<<<<<<< HEAD
revm = { version = "3.1.1", default-features = false, features = [
=======
revm = { version = "3.1", default-features = false, features = [
>>>>>>> 49693bc4 (chore: bump revm to 3.1)
    "std",
    "serde",
    "memory_limit",
] }

ethers-core = { workspace = true }
serde = { version = "1.0", features = ["derive"], optional = true }
serde_json = { version = "1.0" }
bytes = { version = "1.4" }
open-fastrlp = { version = "0.1.4", optional = true }

# trie
hash-db = { version = "0.15", default-features = false }
hash256-std-hasher = { version = "0.15", default-features = false }
triehash = { version = "0.8", default-features = false }
reference-trie = { version = "0.25" }
keccak-hasher = { version = "0.15" }

[dev-dependencies]
serde = { version = "1.0", features = ["derive"] }

[features]
default = []
impersonated-tx = []
fastrlp = ["dep:open-fastrlp"]
serde = ["dep:serde"]
