[package]
name = "anvil"
description = "Local ethereum node"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[[bin]]
name = "anvil"
path = "src/anvil.rs"
required-features = ["cli"]

[build-dependencies]
vergen = { version = "8", default-features = false, features = ["build", "git", "git2"] }

[dependencies]
# foundry internal
anvil-core = { path = "core", features = ["fastrlp", "serde", "impersonated-tx"] }
anvil-rpc = { path = "rpc" }
anvil-server = { path = "server" }
foundry-common.workspace = true
foundry-config.workspace = true
foundry-evm.workspace = true

# evm support
bytes = "1.4.0"
# needed as documented in https://github.com/foundry-rs/foundry/pull/6358
k256 = "=0.13.1"
ethers = { workspace = true, features = ["rustls", "ws", "ipc", "optimism"] }
trie-db = "0.23"
hash-db = "0.15"
memory-db = "0.29"
alloy-primitives = { workspace = true, features = ["serde"] }

# axum related
axum.workspace = true
hyper.workspace = true
tower.workspace = true

reth = "0.1.0"
#reth-rpc-engine-api = { git = "https://github.com/paradigmxyz/reth", branch = "main" }

# tracing
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt"] }

# async
tokio = { version = "1", features = ["time"] }
parking_lot = "0.12"
futures = "0.3"
async-trait = "0.1"

# misc
flate2 = "1.0"
serde_repr = "0.1"
serde_json.workspace = true
serde.workspace = true
thiserror = "1"
yansi = "0.5"
tempfile = "3"
itertools.workspace = true
rand = "0.8"

# cli
clap = { version = "4", features = ["derive", "env", "wrap_help"], optional = true }
clap_complete = { version = "4", optional = true }
chrono.workspace = true
auto_impl = "1"
ctrlc = { version = "3", optional = true }
fdlimit = { version = "0.3", optional = true }
clap_complete_fig = "4"
ethereum-forkid = "0.12"

[dev-dependencies]
ethers = { workspace = true, features = ["abigen"] }
ethers-core = { workspace = true, features = ["optimism"] }
ethers-solc = { workspace = true, features = ["project-util", "full"] }
pretty_assertions = "1.3.0"
tokio = { version = "1", features = ["full"] }
crc = "3.0.1"

[features]
default = ["cli"]
cmd = ["clap", "clap_complete", "ctrlc", "anvil-server/clap"]
cli = ["tokio/full", "cmd", "fdlimit"]
