[package]
name = "ui"
version = "0.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "../README.md"
repository = "https://github.com/foundry-rs/foundry"
keywords = ["ethereum", "web3", "evm", "debugger"]

[dependencies]
crossterm = "0.26"
tui = { version = "0.19", default-features = false, features = ["crossterm"] }
eyre = "0.6.8"
hex = "0.4.3"
ethers = { workspace = true }
forge = { path = "../forge" }
revm = { version = "3.1.1", features = ["std", "serde"] }
