# Daily CI job to update forge-std version used for tests if new release has been published

name: bump-forge-std

permissions: {}

on:
  schedule:
    - cron: "0 0 * * *" # Run daily at midnight UTC
  workflow_dispatch: # Needed so we can run it manually

jobs:
  update-tag:
    name: update forge-std tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Fetch and update forge-std tag
        run: curl 'https://api.github.com/repos/foundry-rs/forge-std/tags' | jq '.[0].commit.sha' -jr > testdata/forge-std-rev
      - name: Create pull request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7
        with:
          commit-message: "chore: bump forge-std version used for tests"
          title: "chore(tests): bump forge-std version"
          body: |
            New release of forge-std has been published, bump forge-std version used in tests. Likely some fixtures need to be updated.
          branch: chore/bump-forge-std
