name: deny

on:
    push:
        branches: [master]
        paths: [Cargo.lock]
    pull_request:
        branches: [master]
        paths: [Cargo.lock]

env:
    CARGO_TERM_COLOR: always

jobs:
    cargo-deny:
        name: cargo deny check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: EmbarkStudios/cargo-deny-action@v1
              with:
                  command: check all
                  arguments: "" # removing this would pass `--all-features` to `cargo deny`
