# Runs `cargo update` periodically.

name: dependencies

on:
  schedule:
    # Run weekly
    - cron: "0 0 * * SUN"
  workflow_dispatch:
# Needed so we can run it manually

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    uses: ithacaxyz/ci/.github/workflows/cargo-update-pr.yml@main
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
