name: docker

permissions: {}

on:
  workflow_dispatch:
    inputs:
      tag_name:
        default: nightly
        description: The tag we're building for
        type: string
  workflow_call:
    inputs:
      tag_name:
        required: true
        type: string

concurrency:
  group: docker-${{ github.head_ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

  # Keep in sync with `release.yml`.
  RUST_PROFILE: maxperf
  RUST_FEATURES: aws-kms,gcp-kms,turnkey,cli,asm-keccak,js-tracer

jobs:
  build:
    name: build and push
    runs-on: depot-ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Login into registry ${{ env.REGISTRY }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # Creates an additional 'latest' or 'nightly' tag
      # If the job is triggered via cron schedule, tag nightly and nightly-{SHA}
      # If the job is triggered via workflow dispatch and on a master branch, tag branch and latest
      # Otherwise, just tag as the branch name
      - name: Finalize Docker Metadata
        id: docker_tagging
        run: |
          if [[ "${{ github.event_name }}" == "schedule" ]]; then
            printf "cron trigger, assigning nightly tag\n"
            printf "docker_tags=%s/%s:nightly,%s/%s:nightly-%s\n" "${{ env.REGISTRY }}" "${{ env.IMAGE_NAME }}" "${{ env.REGISTRY }}" "${{ env.IMAGE_NAME }}" "$GITHUB_SHA" >> "$GITHUB_OUTPUT"
          elif [[ "${GITHUB_REF##*/}" == "main" ]] || [[ "${GITHUB_REF##*/}" == "master" ]]; then
            printf "manual trigger from master/main branch, assigning latest tag\n"
            printf "docker_tags=%s/%s:%s,%s/%s:latest\n" "${{ env.REGISTRY }}" "${{ env.IMAGE_NAME }}" "${GITHUB_REF##*/}" "${{ env.REGISTRY }}" "${{ env.IMAGE_NAME }}" >> "$GITHUB_OUTPUT"
          else
            printf "Neither scheduled nor manual release from main branch. Just tagging as branch name\n"
            printf "docker_tags=%s/%s:%s\n" "${{ env.REGISTRY }}" "${{ env.IMAGE_NAME }}" "${GITHUB_REF##*/}" >> "$GITHUB_OUTPUT"
          fi

      # Log docker metadata to explicitly know what is being pushed
      - name: Inspect Docker Metadata
        run: |
          printf "TAGS -> %s\n" "${{ steps.docker_tagging.outputs.docker_tags }}"
          printf "LABELS -> %s\n" "${{ steps.meta.outputs.labels }}"

      - name: Set up Depot CLI
        uses: depot/setup-action@b0b1ea4f69e92ebf5dea3f8713a1b0c37b2126a5 # v1

      - name: Build and push Foundry image
        uses: depot/build-push-action@9785b135c3c76c33db102e45be96a25ab55cd507 # v1
        with:
          build-args: |
            RUST_PROFILE=${{ env.RUST_PROFILE }}
            RUST_FEATURES=${{ env.RUST_FEATURES }}
            TAG_NAME=${{ inputs.tag_name }}
            VERGEN_GIT_SHA=${{ github.sha }}
          project: 8gkbxxjrpw
          context: .
          tags: ${{ steps.docker_tagging.outputs.docker_tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          push: true
