# Reusable workflow for running tests via `cargo nextest`

name: nextest

permissions: {}

on:
  workflow_call:
    inputs:
      profile:
        required: true
        type: string

concurrency:
  group: tests-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  RUSTC_WRAPPER: "sccache"

jobs:
  matrices:
    name: build matrices
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      test-matrix: ${{ steps.gen.outputs.test-matrix }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Generate matrices
        id: gen
        env:
          EVENT_NAME: ${{ github.event_name }}
          PROFILE: ${{ inputs.profile }}
        shell: bash
        run: |
          output=$(python3 .github/scripts/matrices.py)
          printf '::debug::test-matrix=%s\n' "$output"
          printf 'test-matrix=%s\n' "$output" >> "$GITHUB_OUTPUT"

  test:
    name: test ${{ matrix.name }}
    runs-on: ${{ matrix.runner_label }}
    timeout-minutes: 60
    permissions:
      contents: read
    needs: matrices
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.matrices.outputs.test-matrix) }}
    env:
      CARGO_PROFILE_DEV_DEBUG: 0
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # master
        with:
          toolchain: stable
          target: ${{ matrix.target }}
      - uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # v1
      - uses: taiki-e/install-action@d0f4f69b07c0804d1003ca9a5a5f853423872ed9 # v2
        with:
          tool: nextest

      # External tests dependencies
      - name: Setup Node.js
        if: contains(matrix.name, 'external')
        uses: actions/setup-node@v5
        with:
          node-version: 24
      - name: Install Bun
        if: contains(matrix.name, 'external') && !contains(matrix.runner_label, 'windows')
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
        with:
          bun-version: latest
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Install Vyper
        # Also update vyper version in .devcontainer/Dockerfile.dev
        run: pip --version && pip install vyper==0.4.3

      - name: Forge RPC cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.foundry/cache
            ~/.config/.foundry/cache
          key: rpc-cache-${{ hashFiles('crates/forge/tests/rpc-cache-keyfile') }}
      - uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9
      - name: Setup Git config
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "<>"
          git config --global url."https://github.com/".insteadOf "git@github.com:"
      - name: Test
        env:
          SVM_TARGET_PLATFORM: ${{ matrix.svm_target_platform }}
          HTTP_ARCHIVE_URLS: ${{ secrets.HTTP_ARCHIVE_URLS }}
          WS_ARCHIVE_URLS: ${{ secrets.WS_ARCHIVE_URLS }}
        run: cargo nextest run ${{ matrix.flags }}
