on:
  push:
    branches:
      - master
  pull_request:

name: test

jobs:
  unit:
    name: unit tests
    runs-on: ubuntu-latest
    env:
      ETH_RPC_URL: https://eth-mainnet.alchemyapi.io/v2/Lc7oIGYeL_QvInzI0Wiu_pOZZDEKBrdf
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Clone testdata for fmt tests
        run: make fmt-testdata

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true

      - name: cargo test
        run: cargo test --locked --workspace --all-features --lib --bins

  doc:
    name: doc tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true

      - name: cargo test
        run: cargo test --locked --workspace --all-features --doc

  integration:
    name: integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Clone testdata for fmt tests
        run: make fmt-testdata
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true

      - name: cargo test
        run: cargo test --locked --workspace --features integration-tests --test integration

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          # nightly regression https://github.com/rust-lang/rust/issues/95267
          toolchain: nightly-2022-03-20
          profile: minimal
          components: rustfmt, clippy
          override: true

      - uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true

      - name: cargo fmt
        run: cargo +nightly-2022-03-20 fmt --all -- --check

      - name: cargo clippy
        run: cargo +nightly-2022-03-20 clippy --all --all-features -- -D warnings
