# Daily CI job to run tests with isolation mode enabled by default

name: test-isolate

permissions: {}

on:
  schedule:
    - cron: "0 0 * * *" # Run daily at midnight UTC
  workflow_dispatch: # Needed so we can run it manually

jobs:
  nextest:
    uses: ./.github/workflows/test.yml
    permissions:
      contents: read
    with:
      profile: isolate
