NODE_ENV="development"

NPM_TOKEN=""

PLATFORM_NAME=""
ARCH=""

# for testing purposes
NPM_EMAIL=""
NPM_PASSWORD=""
NPM_REGISTRY_URL=""
NPM_USER="foundry-rs"
ALLOW_NO_INTEGRITY=false
ALLOW_INSECURE_REGISTRY=false
